{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
      {% if showForm %}
      <form action="/tweets" method="POST">
      <label for="name_field">Name:</label>
      <input name="name" type="text" id="name_field" value="{{person}}"/>
      <p>
      <label for="text_field">Text:</label>
      <input name="text" type="text" id="text_field" style="width: 200px;" />
      </p>
      <input type="submit" value="Submit" />
      </form>
      {% endif %}
    </div>
    <div class="col-md-9" id="tweetList">
    <h3>All Tweets</h3>
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="tweet">
        <ul><b><a href="/users/{{tweet.name}}">{{tweet.name}}</a></b></ul>
        <ul><a href="/tweets/{{tweet.ID}}"><font color='black'>{{tweet.text}}</font></a></ul>
        </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}